Modulo1/.venv/
Modulo1/src/scripts/activity/__pycache__/
Modulo1/src/scripts/api_inference/app/__pycache__/
Modulo1/src/scripts/api_inference/app/.venv_api_inference/
Modulo1/Docker/DockerCompose/__pycache__/
Modulo2/src/.venv/
Modulo3/.venv
Modulo3/data
Modulo3/project/.env
Modulo3/project/app/__pycache__
Modulo3/project/app/agents/__pycache__