Modulo1/.venv/
Modulo1/src/scripts/activity/__pycache__/
Modulo1/src/scripts/api_inference/app/__pycache__/
Modulo1/src/scripts/api_inference/app/.venv_api_inference/
Modulo1/Docker/DockerCompose/__pycache__/
Modulo2/src/.venv/
Modulo3/.venv
Modulo3/data
Modulo3/project/.env
Modulo3/project/app/__pycache__
Modulo3/project/app/agents/__pycache__
Modulo3/noteboooks/salaries.db
Modulo3/noteboooks/workflow_graph.png
agent-teams-project/data/company_data.db
agent-teams-project/data/creditcard.csv
agent-teams-project/src/agent/__pycache__
agent-teams-project/src/api/__pycache__
agent-teams-project/src/config/__pycache__
agent-teams-project/.env
agent-teams-project\.env